<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liquors.mapper.OrderTableMapper">
<!-- 
	public void insertOrder(OrderTable orderTable);
	public List<OrderTable> getAllOrder();
	public OrderTable searchOrderByNo(int no);
	public void updateOrder(OrderTable orderTable);
 -->
 	<insert id="insertOrder" parameterType="com.liquors.vo.OrderTable">
 		<selectKey keyProperty="no" resultType="int" order="BEFORE">
 			select order_no_seq.nextval
 			from dual
 		</selectKey>
 		insert into order_table
 		(order_no, user_no, order_created_date )
 		values
 		(#{no},#{userNo},sysdate)
 	</insert>
 	<update id="updateOrder" parameterType="com.liquors.vo.OrderTable">
 		update order_table
 		set
 		order_delivery = #{delivery}
 		order_completed = #{completed}
 		order_completed_date = #{compleatedDate} 
 		where order_no = #{no}
 	</update>
 	<select id="getAllOrder" resultType="com.liquors.vo.OrderTable">
 		select 
 			order_no as no,
 			user_no as userNo,
 			order_created_date as createdDate, 
 			order_payment as payment, 
 			order_delivery as delivery, 
 			order_completed as completed, 
 			order_completed_date as compleatedDate
 		from order_table
 		order by order_no desc
 	</select>
 	<select id="searchOrderByNo" parameterType="int" resultType="com.liquors.vo.OrderTable">
 		select 
 			order_no as no,
 			user_no as userNo,
 			order_created_date as createdDate, 
 			order_payment as payment, 
 			order_delivery as delivery, 
 			order_completed as completed, 
 			order_completed_date as compleatedDate
 		from order_table
 		where order_no = #{value}
 		order by order_no desc
 	</select>
 </mapper>