<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper />
<!-- 
	public void insertThisAlcoholBoard(ThisAlcohol board);
	public void updateThisAlcoholBoard(ThisAlcohol board);
	public List<ThisAlcohol> getAllBoard();
	public ThisAlcohol searchBoardByNo(int no);

 -->